body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Futura;
}

h1 {
	letter-spacing: 1em;
	font-size: 2em;
}

#logo {
	width: 142px;
	height: 142px;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}